/* Import Fonts CSS file */
@import url('./fonts.css');
@import url('./basic-needs.css');

/* --------------------------- */
/* START :: Header Section CSS */
/* --------------------------- */
.header-section+* {
    position: relative;
    z-index: 2;
}

.header-section {
    height: 112px;
    border-bottom: 2px solid #D49A49;

    .container {
        height: 100%;
    }

    .header-container {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .logo {
        width: 186px;

        img {
            width: 100%;
        }
    }

    .navbar-container {
        height: 100%;
        display: flex;
        margin-left: auto;
        align-items: center;
        margin-right: 20px;

        nav {
            height: 100%;
            align-items: center;
            display: flex;

            &>ul {
                display: flex;
                align-items: center;
                padding: 0;
                gap: 30px;
                /*  */
                height: 100%;
                align-items: center;
                display: flex;

                &>li {
                    /*  */
                    /* height: 100%; */
                    align-items: center;
                    display: flex;

                    &.lang-selector {
                        .submenu-triger {
                            a {
                                align-items: center;

                                img {}
                            }
                        }

                        img {
                            width: 20px;
                            margin-right: 7px;
                        }
                    }

                    /* background: red; */
                    &>.submenu-triger {
                        /* background: pink; */
                        padding: 14px 0;

                        &>a {
                            display: flex;
                            color: #1E1E1E;
                            cursor: pointer;

                            span {
                                font-family: 'Poppins';
                                font-size: 16px;
                                font-weight: 600;
                                line-height: 24px;
                                letter-spacing: 0.10000000149011612px;
                                text-align: center;
                            }

                            i {
                                width: 28px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }

                    &:hover {
                        &>.submenu-triger {
                            &>a {
                                i {
                                    transform: rotate(180deg);
                                }
                            }
                        }

                        &>.submenu {
                            top: 80px;
                            opacity: 1;
                            visibility: visible;
                            z-index: 3;
                        }
                    }

                    &>.submenu {
                        padding: 8px;
                        border-radius: 4px;
                        color: white;
                        position: absolute;
                        box-shadow: 0 0 3px grey;
                        background: white;
                        top: 120px;
                        min-width: 200px;
                        opacity: 0;
                        visibility: hidden;
                        z-index: -1;

                        &>ul {
                            padding: 0;

                            li {
                                width: 100%;
                                padding-bottom: 10px;

                                a {
                                    width: 100%;
                                    display: block;
                                    /* background: orange; */
                                    line-height: 30px;
                                    padding: 6px 10px;
                                    border-radius: 4px;
                                    color: black;

                                    &:hover {
                                        background: rgba(199, 198, 198, 0.427);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* ------------------------- */
/* END :: Header Section CSS */
/* ------------------------- */